.modal__content-items {
  position: relative;
  border-radius: 5%;
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 498px;
  height: 610px;
  padding-top: 0;
}

.modal__image {
  height: 498px;
  width: 498px;
}

.modal__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.modal__caption {
  width: auto;
  height: auto;
  margin: 20px auto 0 32px;
}

.modal__weather {
  margin: 0 auto 32px 32px;
}

.modal__item-close {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url("../../assets/close-button.svg");
  height: 20px;
  width: 20px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
}

.delete-card {
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  top: 25%;
  left: 75%;
  border: none;
  background-color: transparent;
}

.delete-card:hover {
  opacity: 0.6;
}

.delete-card_visible {
  visibility: visible;
}

.delete-card_hidden {
  visibility: hidden;
}
