.signin-label {
  width: auto;
  border: none;
}

.signin-input {
  max-width: 440px;
  width: 100%;
  height: 24px;
  border: none;
  margin: 8px 28px 24px 0;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

.signin-button {
  background-color: black;
  color: white;
  border-radius: 7px;
  border: none;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
